/** @mainpage Qore zmq Module

    @tableofcontents

    @section zmqintro zmq Module Introduction

    The \c zmq module provides an API for socket operations based on the <a href="http://zeromq.org">ZeroMQ</a> library.

    Classes provided by this module:
    - @ref Qore::ZMQ::ZSocket "ZSocket"
      - @ref Qore::ZMQ::PubZSocket "PubZSocket"
      - @ref Qore::ZMQ::SubZSocket "SubZSocket"
      - @ref Qore::ZMQ::ReqZSocket "ReqZSocket"
      - @ref Qore::ZMQ::RepZSocket "RepZSocket"
      - @ref Qore::ZMQ::DealerZSocket "DealerZSocket"
      - @ref Qore::ZMQ::RouterZSocket "RouterZSocket"
      - @ref Qore::ZMQ::PushZSocket "PushZSocket"
      - @ref Qore::ZMQ::PullZSocket "PullZSocket"
      - @ref Qore::ZMQ::XPubZSocket "XPubZSocket"
      - @ref Qore::ZMQ::XSubZSocket "XSubZSocket"
      - @ref Qore::ZMQ::PairZSocket "PairZSocket"
      - @ref Qore::ZMQ::StreamZSocket "StreamZSocket"

    @section zmq_examples Examples

    @par Example:
    @code{.py}
 #!/usr/bin/env qore

 %new-style
 %require-types
 %strict-args
 %enable-all-warnings

 %requires zmq
    @endcode

    @section zmqreleasenotes zmq Module Release Notes

    @subsection zmq_1_0 zmq Module Version 1.0
    - initial public release
*/
